node_modules
**/node_modules
dist
**/dist
.env
**/.env
.env.*
!.env.example
coverage
**/coverage
logs
**/logs
.git
.gitignore
frontend/node_modules
frontend/dist
*.md
Backend/src/uploads/*
!Backend/src/uploads/.gitkeep
